 /* 
    *liveserver device 연동방법
    ! 반드시 장치가 liveserver 를 켜놓은 컴퓨터와 동일한인터넷 환경인 (ex>wifi)에 접속되어있어야함
    *1-1. window 기준 "window key + r" 입력 후 cmd 입력 enter. -> ipconfig enter(ipv4)
    *1-2mac 기준 wifi 설정 -> 세부사항 ip번호
    *2. ip번호 + port번호(:뒤에 숫자 4자리)+ /RESP/step2/(index.html 생략가능) -> 접속하고자하는 장치의 browser 에서 입력
    todo. 192.168.100.48:5501/RESP/step2 
    192.168.101.155:5500/RESP/step2
 */

 /* 
    모듈링?
 */
@media screen and (max-width:767px) and (orientation: landscape){
    body{
        background-color: rgb(138, 92, 23);
        text-align: center;
    }
    h1 {
        font-size: 28px;
        line-height: 38px;
    }
    article{
        background-color: rgb(63, 10, 10);
        margin-bottom: 30px;
        padding: 30px;
    }
    article h2{
        background-color: rgb(60, 46, 139);
        color: rgb(173, 230, 230);
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 16px;
    }
    article p{
        background-color: rgb(79, 180, 39);
        font-size: 12px;
        line-height: 18px;
        padding: 16px;
        color: rgb(159, 172, 143);
    }
}
/* ? mobile Device - 사용자의 해상도가 767px 이하일 때 세로모드 */

@media screen and (max-width:767px) and (orientation: portrait){
    body{
        background-color: blanchedalmond;
        text-align: center;
    }
    h1 {
        font-size: 28px;
        line-height: 38px;
    }
    article{
        background-color: rgb(187, 42, 42);
        margin-bottom: 30px;
        padding: 30px;
    }
    article h2{
        background-color: rgb(137, 139, 46);
        color: rgb(190, 173, 230);
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 16px;
    }
    article p{
        background-color: rgb(180, 79, 39);
        font-size: 12px;
        line-height: 18px;
        padding: 16px;
        color: rgb(235, 148, 148);
    }
}
/* ? mobile Device - 사용자의 해상도가 767px 이하일 때 가로모드 */

@media screen and (min-width: 768px) and (max-width: 1279px) and (orientation: landscape){
    body{
        background-color: rgb(188, 255, 182);
    }
    h1{
        font-size: 50px;
        line-height: 60px;
        background-color: rgb(107, 190, 238);
        margin-bottom: 20px;
    }
    article{
        background-color: rgb(166, 170, 130);
        margin-bottom: 30px;
        padding: 30px;
    }
    article h2{
        background-color: rgb(46, 63, 139);
        color: rgb(26, 204, 130);
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    article p{
        background-color: burlywood;
        font-size: 16px;
        line-height: 22px;
        padding: 20px;
        color: rgb(75, 6, 6);
    }
}
/* ? tablet Device - 사용자의 해상도가 768px 이상 1279px 이하일 때 가로모드 */

@media screen and (min-width: 768px) and (max-width: 1279px) and (orientation: portrait){
    body{
        background-color: lightpink;
    }
    h1{
        font-size: 32px;
        line-height: 40px;
        background-color: rgb(21, 107, 21);
        margin-bottom: 20px;
    }
    article{
        background-color: lightgray;
        margin-bottom: 30px;
        padding: 30px;
    }
    article h2{
        background-color: rgb(52, 46, 139);
        color: lightblue;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    article p{
        background-color: burlywood;
        font-size: 16px;
        line-height: 22px;
        padding: 20px;
        color: brown;
    }
}
/* ? tablet Device - 사용자의 해상도가 768px 이상 1279px 이하일 때 세로모드 */

@media screen and (min-width: 1280px){
    body{
        background-color: lightblue;
    }
    h1{
        font-size: 32px;
        line-height: 40px;
        background-color: lightgreen;
        margin-bottom: 2-px;
    }
    article{
        background-color: lightgray;
        margin-bottom: 30px;
        padding: 30px;
    }
    article h2{
        background-color: seagreen;
        color: lightgreen;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    article p{
        background-color: lightyellow;
        font-size: 16px;
        line-height: 22px;
        padding: 20px;
        color: brown;
    }
}
/* ? desktop Device - 사용자의 해상도가 1280px 이상일때 */