/* article::after{
    content: '';
    display: block;
    clear: both;
}
article:nth-of-type(2n+1) >:first-child{
    float: left;
    margin: 0;
    width: 30%;
    line-height: 100%;
    background-color: gray;
    color: white;
    font-size: 200px;
}
article:nth-of-type(2n) >:first-child{
    float: right;
    margin: 0;
    width: 30%;
    line-height: 100%;
    background-color: gray;
    color: white;
    font-size: 200px;
}
article:nth-of-type(2n+1)  > :nth-child(2){
    float: left;
    margin: 0;
    width: 70%;
}
article:nth-of-type(2n)  > :nth-child(2){
    float: right;
    width: 70%;
}

article p strong,
article p mark{
    background: none;
    color: skyblue;
    text-decoration: underline;
} */
 body,
 article p{
    margin: 0;
 }
 article{
    margin-bottom: 30px;
    clear: both;
}
article > :first-child{
    /* 직계선택자를 쓴 이유는 여기서 first-childe는 h1뿐만 아니라 strong도 포함되기 때문. */
    font-size: 200px;
    line-height: 120px;
    width: 40%;
    background-color: gray;
    color: white;
}
article:nth-of-type(2n+1)> :first-child{
    float: right;
    text-align: right;
    margin: 0 0 10px 20px;
}
article:nth-of-type(2n)>:first-child{
    float: left;
    margin: 0 20px 10px 0;
}
article p *{
    color: #09f;
    background-color: transparent;
}
article p *:not(mark){
    text-decoration: underline;
}