/* 
    1. 전체 % 단위 사용 원칙 = 말랑말랑
    2. header는 고정된 상태의 최상위 유지 =aside, article이 밑으로 깔려들어감
    3. 정확하게 footer 높이 만큼만 화면 스크롤이 발생해야함.
*/
/* ! 전체다 position만으로 만들어야 쉬움. float등이 섞이며 처리하기 복잡해짐. */
* {
    color: white;
}
body{     
    position: relative;
    width: 100%;
    margin: 0;    
    background-color: black;  
    height: 1200px; 
}
header{
    position: fixed;
    background-color: red;
    width: 100%;
    height: 100px;   
    top: 0;
    left: 0;
    z-index: 10;    
}
aside, article {
    position: absolute;
    top: 100px;
    height: 1200px;
    
}
aside{
    background-color: green;
    width: 20%;
    left: 0;
}
article{
    background-color: blue;
    width: 80%;
    right: 0;
}
footer {
    background-color: yellow;
    position:absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 100px;
}